

.container.signin-container

	.row

		.col-md-6.col-md-offset-3.col-xs-12

			form.signin-form
				h3.signin-form-heading 
					Авторизация
					&nbsp;
					small выберите пользователя

			.list-group.signin-form-list(data-view = "listOfUsers")
	
				- users.forEach(function(user){

					include user

				- })


