

a.list-group-item(data-id = "#{user.id}", data-type = "user-line", href = "##{user.id}") 
	
	span #{user.username}

	.list-group-item-text.hide(data-type = "user-subline")
		form.form-inline
			.row
				.col-md-6
					input.form-control.input-sm(type = "password", placeholder = "Введите пароль")

				button.btn.btn-default.btn-sm(type = "submit") Войти






