lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
units
materials

npm-debug.log
node_modules
node-firebird-libfbclient

/bower_components

/docs
/dicts
/grids
/users
/materials
/test/conf
