

.container.signin-wrap

	.row

		.col-md-6.col-md-offset-3.col-xs-12

			form.signin-form
				h2.signin-form-heading Авторизация
				.list-group
					a.list-group-item(href = "#") Алексей Николаев
					a.list-group-item(href = "#") Вахрушева Ольга

