
//
// Load theme
// --------------------------------------------------

@import "_theme.less";

body {
	background: #fff;
}

#main {
	position: fixed;
	top: 55px;
	bottom: 200px;
	left: 2px;
	right: 2px;
	background: #ccc;
	overflow-y: scroll;
}

#bottom {
	position: fixed;
	bottom: 2px;
	left: 2px;
	right: 2px;
	height: 195px;
	background: #eee;
}
