
header.navbar
  .container

    button.navbar-toggle(type = "button", data-toggle = "collapse", data-target = ".sidebar-nav.nav-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar

    a#main-menu-toggle.hidden-xs.open
      i.fa.fa-bars

    a.navbar-brand.col-lg-2.col-sm-1.col-xs-12(href = "/")
      i.fa.fa-rocket.fa-lg.fa-inverse.fa-fw
      span.hidden-sm SpacePro


    .header-nav.nav-no-collapse

      //- ul.nav.navbar-nav.col-sm-offset-6


      ul.nav.navbar-nav.pull-right
        //- li
        //-   a.btn(href = "#settings")
        //-     i.fa.fa-cog.fa-fw
        //-     &nbsp;
        //-     small Настройки
        li
          a.btn(href = "#auth/logout")
            i.fa.fa-power-off.fa-fw
            &nbsp;
            small #{gettext('Logout')}

      //- ul.nav.navbar-nav.pull-right.col-lg-9
      //-   li.col-sm-3
      //-     .controls
      //-       input.search.input-xs.form-control(type = "text", placeholder = "...", style = "margin-top: 3px;")









