
header.navbar
  .container

    button.navbar-toggle(type = "button", data-toggle = "collapse", data-target = ".sidebar-nav.nav-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar

    a#main-menu-toggle.hidden-xs.open
      i.fa.fa-bars

    a.navbar-brand.col-lg-2.col-sm-1.col-xs-12(href = "/")
      i.fa.fa-rocket.fa-lg.fa-inverse
      &nbsp;
      span SpacePro


    .header-nav.nav-no-collapse
      ul.nav.pull-right
        li
          a.btn(href = "#auth/logout")
            i.glyphicon.glyphicon-icon.log_out
            &nbsp;
            span 
              small #{gettext('Logout')}









