
#sidebar-left.col-lg-2.col-sm-1
  .sidebar-nav.nav-collapse.collapse.navbar-collapse.bs-navbar-collapse
    ul.nav.nav-tabs.nav-stacked.main-menu

      - each dict in webDicts.dicts
        - if (dict.sid == webDicts.active.sid)
          li.active
            a(href = "#")
              .visible-sm
                - if (dict.settings.main.fa_icon !== undefined) {
                  i(class = "fa #{dict.settings.main.fa_icon}")
                - } else {
                  i.fa.fa-power-off
                - }
              small.hidden-sm #{dict.caption}
        - else
          li
            a(href = "#")
              .visible-sm
                - if (dict.settings.main.fa_icon !== undefined) {
                  i(class = "fa #{dict.settings.main.fa_icon}")
                - } else {
                  i.fa.fa-table
                - }
              small.hidden-sm #{dict.caption}

