
#sidebar-left.col-lg-2.col-sm-1
  .sidebar-nav.nav-collapse.collapse.navbar-collapse.bs-navbar-collapse
    ul.nav.nav-tabs.nav-stacked.main-menu

      - each dict in webDicts.dicts
        - if (dict.sid == webDicts.active.sid)
          li.active
            a(href = "#") 
              small #{dict.caption}
        - else
          li
            a(href = "#")
              small #{dict.caption}

