
#sidebar-left.col-lg-2.col-sm-1
  .sidebar-nav.nav-collapse.collapse.navbar-collapse.bs-navbar-collapse
    ul.nav.nav-tabs.nav-stacked.main-menu

      li.active
        a(href = "#") Dashboard

      li
        a(href = "#") Settings

