
form.form-horizontal(role = "form", data-view = "form")
  .form-group
    .col-sm-6
      select.form-control(data-control = "#{id}_active", miltiple, size = "10")
    .col-sm-6
      select.form-control(data-control = "#{id}_all", miltiple, size = "10")
