
//- form.form-horizontal(role = "form", data-view = "form")
.form-group
  //- .col-sm-12
  //-   h3 #{conf.showcaption}
  .col-sm-12
    input.form-control(data-control = "#{id}", value = "#{value}", type = "text", tabindex = "0")
