
form.form-horizontal(role = "form", data-view = "form")
  .form-group(data-control = "#{id}")
    .col-sm-6
      h4 Выбранные группы
      div(data-view = "check-groups")
    .col-sm-6
      h4 Все группы
      div(data-view = "all-groups")
