
button.btn.btn-success(data-view = "button", type = "button", data-request="#{operation_id}") #{gettext('Save edit record')}
button.btn.btn-default(type = "button", data-dismiss = "modal") #{gettext('Cancel edit record')}
