
form.form-horizontal(role = "form", data-view = "form")
  .form-group
    //- label.col-sm-12.control-label #{conf.showcaption}
    .col-sm-12
      h3 #{conf.showcaption}
    .col-sm-12
      select.form-control(placeholder = "#{conf.showcaption}", data-control = "#{id}")

