
.modal.fade.dict-insert(data-view = "insert", data-type = "modal", role = "dialog", tabindex = "-1")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type = "button", data-dismiss = "modal", aria-hidden = "true") &times;     
        h4.modal-title Insert!

      .modal-body(data-type = "modal-body")
          
      .modal-footer
        button.btn.btn-primary(type = "button", data-type = "force", data-dismiss = "modal") Yes
        button.btn.btn-default(type = "button", data-dismiss = "modal") Cancel