
tr(data-uuid = "#{line.d$uuid}")
  - each column in columns
    - if ((fields[column.Field].mtype == 'timestamp') && (line[column.Field] != null)) {
      td 
        span #{moment(line[column.Field]).format('DD.MM.YYYY')}
        &nbsp;
        small #{moment(line[column.Field]).format('HH:mm')}
    - } else {
      td #{line[column.Field]}
    - }
