!!! 5
html(lang = "#{lang}", lang_dir = "#{lang_dir}")
  head
    include ../includes/head

  body
    #bar
      include ../index/navbar

    #main
      .container
        .row
          .col-md-12
            table.table.table-hover.dict
              thead
                tr
                  - mainDict.columns.forEach(function(column){
                    th #{column.Caption}
                  - })

              tbody
                - mainDict.data.forEach(function(line){
                  tr
                    - mainDict.columns.forEach(function(column){
                      td #{line[column.Field]}
                    - })
                - })


    #bottom.container
      .row
        .col-md-6 131313131
        .col-md-6 423423423


    include ../includes/js
