doctype html
html(lang = "#{lang}", dir = "#{lang_dir}")
  head
    include ../includes/head

  body

    include ../index/navbar

    .container
      .row

        - if (webDicts != undefined)
          - if (webDicts.active != undefined)


            include ../index/sidebar

            include ../dict/grid

    include ../includes/js
